<a href="/">Show Me The Homepage!</a> 

<h1>Here is your link!</h1>


<p>
  <strong>Link name:</strong>
	<%= @link.try(:title) %>
</p>

<p>
  <strong>URL:</strong>
	<%= @link.try(:url) %>
</p>







